body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color:bisque;
}

header {
  background-color:bisque;
  color: rgb(209, 136, 84);
  padding: 8px;
  text-align: center;
}

.center-image {
  text-align: center;
}
 
nav {
  background-color:rgb(209, 136, 84);
  text-align: center;
  padding: 10px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

h2{
    text-color:rgb(250,138,70);
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

footer {
  background-color: rgb(209, 136, 84);
  color: white;
  text-align: center;
  padding: 1px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}
.gallery-grid img {
  width: 100%;
  height: auto;
}
